<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrology</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Courgette&family=Fira+Sans+Extra+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='front.css') }}">
    <!-- <link rel="stylesheet" href="front.css"> -->
   
</head>
{% set active_link = url_for('static', filename='tenor.gif')  -%}
<body style=" background-image: url('{{ active_link }}');
background-repeat: no-repeat;
background-size: 1550px 1000px;">
    
        
    <div class="box" id="box11">
   
       
        <div class="navbar">
            <div class="left">
                <h1 class="col">Astrology</h1>
                <ul>
                    <li class="col"><a href="/home">Home</a></li>
                    <li class="col"><a href="/more">More About Us</a></li>
                    <li class="col"><a href="/contact">Contact US</a></li>
                </ul>
            </div>
            <div class="right">
                <a href="/contact"><button class="btn col font2">Appointment</button></a> 
            </div>
        </div>
    
       
    </div>
    
    <div class="box" id="box2" > 
      
        
        <h1 class="col font1" style="text-align: center;">About Us</h1>
        <h3 class="col font2"> I'm an astrologer Lorem, ipsum dolor sit amet consectetur adipisicing elit. In eveniet similique aut mollitia. A, minus! In dolores quidem facere vitae eaque est quisquam cupiditate dicta ab excepturi sint deserunt provident iusto similique, voluptatem recusandae tempora at totam quae sequi quos. Culpa nisi suscipit nihil! Placeat itaque beatae adipisci id, dolores sequi dicta blanditiis aut, fugiat iste ullam nulla quasi facere. Quod magnam doloribus atque aut distinctio obcaecati totam, provident ut. Hic enim corporis eos voluptatum excepturi distinctio quaerat illo labore unde sunt! Ut tempora incidunt totam! Consectetur quaerat non magni rerum doloremque! Iure unde eveniet libero quod molestias, iste aliquam.</h3>
        <h1 class="col font1">OUR EXPERTISE</h1>
        <ul class="about col" >
            <li style="font-size: 25px;">QUALITY 1: Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dolorum ab iste illo voluptatem corrupti atque odit culpa. Modi, veritatis ipsam. Perferendis eius obcaecati aperiam maxime, blanditiis cumque provident possimus architecto, accusantium labore beatae debitis perspiciatis quia modi fugiat ipsa tempore porro deleniti sint distinctio? Consequuntur necessitatibus quis commodi aspernatur iste iusto sit provident? Tenetur, autem aut quasi cumque quod corporis explicabo cupiditate vel similique, quis et est, repellendus odit?</li>
            <li style="font-size: 25px;">QUALITY 2: Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dolorum ab iste illo voluptatem corrupti atque odit culpa. Modi, veritatis ipsam. Perferendis eius obcaecati aperiam maxime, blanditiis cumque provident possimus architecto, accusantium labore beatae debitis perspiciatis quia modi fugiat ipsa tempore porro deleniti sint distinctio? Consequuntur necessitatibus quis commodi aspernatur iste iusto sit provident? Tenetur, autem aut quasi cumque quod corporis explicabo cupiditate vel similique, quis et est, repellendus odit?</li>
            <li style="font-size: 25px;">QUALITY 3: Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dolorum ab iste illo voluptatem corrupti atque odit culpa. Modi, veritatis ipsam. Perferendis eius obcaecati aperiam maxime, blanditiis cumque provident possimus architecto, accusantium labore beatae debitis perspiciatis quia modi fugiat ipsa tempore porro deleniti sint distinctio? Consequuntur necessitatibus quis commodi aspernatur iste iusto sit provident? Tenetur, autem aut quasi cumque quod corporis explicabo cupiditate vel similique, quis et est, repellendus odit?</li>
            <li style="font-size: 25px;">QUALITY 4: Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dolorum ab iste illo voluptatem corrupti atque odit culpa. Modi, veritatis ipsam. Perferendis eius obcaecati aperiam maxime, blanditiis cumque provident possimus architecto, accusantium labore beatae debitis perspiciatis quia modi fugiat ipsa tempore porro deleniti sint distinctio? Consequuntur necessitatibus quis commodi aspernatur iste iusto sit provident? Tenetur, autem aut quasi cumque quod corporis explicabo cupiditate vel similique, quis et est, repellendus odit?</li>
        
        
    
        </div><hr>
        
    <div class="box" id="box3" style="background-color:  rgb(17, 12, 31);">
        <h4 class="font2 col">
    
            copyright -RupinVijan
        </h4>
    
     </div>
    
    
    
</body>
</html>


